<h1>Welcome!</h1>

<p>Welcome to this little sample application showing different aspects of using Angular Animations.</p>

<p>The whole sample uses router animations for transitioning from one page to another page.</p>

<ul>
  <li>Author: Manuel Rauber, Thinktecture AG (<a href="mailto:manuel.rauber@thinktecture.com">manuel.rauber@thinktecture.com</a>)</li>
  <li>Repository: <a href="https://github.com/thinktecture/windows-developer-angular-animations" target="_blank" rel="noopener">GitHub</a>
  </li>
</ul>
